<%= turbo_frame_tag "student_excursion" do %>

<h5>New Group</h5>

    <%= form_with model: @group, url: '/student_groups' do |form| %>
    <div class="mb-2 row pe-4">
        <%= form.label :description, class:"col-form-label" %>
        <%= form.text_area :description, class:"form-control ms-2 me-4"%>
    </div>

    <div class="mb-2 row pe-4"%>
        <%= image_tag(@group:image, width: "100px") if @group:image.attached?%>
    </div>
  
  <div class="field mt-3">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

    <div class="mb-2 row pe-4">
        <%= form.label "Pick Up Point Suburb", class:"col-form-label"%>
        <%= form.text_field :suburb, class:"form-control ms-2 me-4" %>
    </div>
    <div class="mb-2 row pe-4">
        <%= form.label "Total Cost ($)", class:"col-form-label"%>
        <%= form.number_field :total_cost, class:"form-control ms-2 me-4" %>
    </div>
    <div class="mb-2 row pe-4">
        <%= form.label :passenger_no, class:"col-form-label" %>
        <%= form.number_field :passenger_no, class:"form-control ms-2 me-4" %>
    </div>
    <%= form.number_field :user_id, value: current_user.id, type: "hidden"%>
    <%= form.number_field :excursion_id,value: @excursion_id, type: "hidden" %>
    <%= form.submit class: "btn btn-primary" %>
    <% end %>

<% end %>