<main class="container">

    <div class ="col-sm-6 mx-auto">
        <%= form_with url: "/student_courses/search", data: {turbo_frame: "courses_result"}, method: :get  do |form | %>
            <%= form.search_field :query, class: "col-sm-6 mt-5" %>
            <%= form.submit "Search", class:"btn btn-primary" %>
        <% end %>
    </div>
    <%= turbo_frame_tag "courses_result" do%>
        <p class="alert text-danger col-sm-6"><%= alert %></p>
        <p class="notice"><%= notice %></p>
    <% end %>

</main>