<%= turbo_frame_tag "courses_result" do%>

<main class="col-sm-8 mx-auto mt-4">
    <% student_id = @enrollment.user_id%>
    <% student = User.find(student_id) %>
    <h5>Student Name: <%= student.user_name %></h5>
    <h5>Email: <%= student.email%></h5>

    <%= form_with model: @enrollment, url: update_enrolled_path do |form|%>
        <%= form.number_field :course_id, type: "hidden"%>
        <%= form.number_field :user_id, type: "hidden"%>
        <%= form.label :banned%>
        <%= form.check_box :banned %>
        <br/>
        <%= form.submit class: "btn btn-primary"%>
    <% end %>

</main>
<% end %>
