<main class="container">
    <h1>Search Course by using:</h1>
    <ul>
        <li>Course Name </li>
        <li>Course I.D given by your teacher </li>
        <li>Teacher's email address </li>
    </ul>
    <div class ="col-sm-6">
    
        <%= form_with url:"/student_courses/search", method: :get  do |form | %>
            <%= form.label :query, "Search for:" %>
            <%= form.search_field :query %>
            <span lass="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Course Name">
            <%= form.submit "Search" %>
            </span>
        <% end %>
        <%= turbo_stream.replace "flash_messages" do %>
        <div id="flash_messages">
        <p class="alert"><%= alert %></p>
        <p class="notice"><%= notice %></p>
        </div>
        <% end %>
    </div>
</main>
