<main class="container">

<h1><%= @course.name %></h1>


<ul>
<li><%= @course.description%></li>
<li><%= @course.year %></li>
<li><%= @course.month %></li>
<li><%= @course.active %></li>
</main>
<%= console %>