<main class="container">

<h1><%= @course.name %></h1>


<ul>
<li><%= @course.description%></li>
<li><%= @course.year %></li>
<li><%= @course.month %></li>
<li><%= @course.active %></li>


<ul>
<% @excursions.each do |excursion|%>
    <li><%= excursion.name%></li>
    <li><%= excursion.description %></li>
    <%= link_to "Go to", student_excursion_path(excursion.id), class: "btn btn-primary" %>
    <br/>
<% end %>
</ul>

</main>
<%= console %>