<h1>Course </h1>
<%= @excursion.name %>
<%= @excursion.description %>
<%= @excursion.street_number %>
<%= @excursion.street_name %>
<%= @excursion.suburb %>
<%= @excursion.city %>
<%= @excursion.state %>
<%= @excursion.post_code %>

<% @groups.each do |group|%>
<br/>
<br/>
    groupID:<%= group.id %><br/>
    description:<%= group.description %><br/>
    pick up point: <%= group.suburb%><br/>
    total_cost:$<%= group.total_cost.to_i/100 %><br/>
    <br/>
    User Id:<%= User.find(group.user_id).user_name%>
    <br/>
    <%= group.passenger_no %>
    <%= link_to "Show", student_group_path(group.id),class: "btn btn-primary"%>
    
    <%if current_user.id == group.user_id %>
        <%= link_to "Edit", edit_student_group_path(excursion_id: @excursion.id,id:group.id), class: "btn btn-primary" %>
    <% end %>
<% end %>

<%= link_to "Create Group", new_student_group_path(excursion_id: @excursion.id), class: "btn btn-primary"%>
