<%= turbo_frame_tag "student_excursion" do%>

<h5>Excursion: <%= @excursion.name%> </h5>
<p>Description: <%= @excursion.description%></p>
<p>Suburb: <%= @excursion.suburb %>
<hr>
<h5>Driver: <%= @driver.user_name%></h5>
<p>Pickup point: <%= @group.suburb %></p>
<p>Total Cost: <%= number_to_currency(@group.total_cost.to_i/100)%>
<p>Car Capacity: <%= pluralize(@group.passenger_no,'passenger') %> 
<hr>
<h5>Current passengers in this group</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"> User Name</th>
            <th scope="col"> Email </th>
        </tr>
    </thead>
    <tbody>
    <%@passengers.each do |passenger|%>
        <tr>
           <td><%= User.find(passenger.user_id).user_name%></td>
           <td><%= User.find(passenger.user_id).email%></td>
        </tr>
    <% end %>
    </tbody>
</table>
<hr>
<h5>Are you sure you want to join this group?</h5>
<%= link_to "Join Group", passengers_path(group: @group), data: {turbo_method: :post},class: "btn btn-primary"%>
<%= link_to "Cancel", student_excursion_path(@excursion.id), class: "btn btn-primary"%>
<% end %>
