<li style="list-style-type: none">

<div class="card my-2">
    <div class="card-header">
        <div class="fs-2"><%= course.name %><span class="fs-6 ms-2">(Course ID: <%= course.id %>)</span></div>
    </div>
  
    <div class="card-body">
        <h5 class="card-title">Cohort: <%= course.year %>/<%= course.month %></h5>
    <p class="card-text">Description: <%= course.description %></p>
    <% if course.active%>
        <%= link_to "Analyse Course", course_path(course.id),data: {turbo_frame: "courses_result" }, class: "btn btn-primary"%>
    <% else %>
        <%= link_to "Analyse Course", course_path(course.id), data: {turbo_frame: "courses_result"}, class: "btn btn-secondary"%> Non-Active
    <% end %>
  </div>
</div>



</li>