<% excursions.each do |excursion| %>
<p>
<%= excursion.name %>
<%= excursion.description %>
<%= excursion.arrive_time %>
<%= excursion.street_number %>
<%= excursion.street_name %>
<%= excursion.suburb %>
<%= excursion.state %>
<%= excursion.post_code %>
</p>

<% end %>