<% excursions.each do |excursion| %>
<tr>
    <td><%= excursion.name %></td>
    <td><%= excursion.description %></td>
    <td><%= excursion.arrive_time.to_fs(:short)%></td>
    <td><%= excursion.street_number %> <%= excursion.street_name%> <%= excursion.suburb%> <%= excursion.state%> <%= excursion.post_code%>
    <td><%= link_to "edit details", edit_excursion_path(excursion.id), data: {turbo_frame: "courses_result"} %></td>
</tr>
<% end %>