<%= turbo_frame_tag "courses_result" do%>
<main class="border mt-3 px-2 d-flex">
<!-- Course details -->
<section class="col-sm-6 pe-2">
<h5>Course Name: <%= @course.name %></h5>
<p>Course ID:<%= @course.id %></p>
<p>Cohort: <%= @course.year %>/<%= @course.month %></p>
<p>Description</p>
<p class="h-25 border"><%= @course.description %></p>
<p>Active: 
<% if @course.active %>
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="blue" class="bi bi-check2-square" viewBox="0 0 16 16">
  <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
  <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
</svg>
</svg>
<%else%>
<i class="bi bi-check"></i>
   <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-x-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>
<% end %>
</p>

<%= link_to "Edit", edit_course_path, class: "btn btn-primary col-sm-2" %>
<%= link_to "Delete", course_path(@course.id),data: {turbo_method: :delete}, class: "btn btn-primary col-sm-5 ms-1"%>
</section>

<section class="col-sm-6 px-2">
<!-- List students -->
<h5>There are <%= pluralize(@enrollments.length, 'Students')%></h5>

<div class="overflow-scroll" style="height: 180px">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "courses/student", locals: {enrollments: @enrollments} %>
  </tbody>
</table>
</div>

<hr>

<!-- List Excursions -->

<h5>There are <%= pluralize(@excursions.length, 'Excursions')%></h5>
<%= link_to "New Excursion", new_excursion_path(course_id: @course.id),class: "btn btn-primary"%>
<div class="overflow-scroll" style="height: 280px">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Arrive Time</th>
      <th scope="col">Address</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <%= render partial: "courses/excursion", locals: {excursions: @excursions} %>
</table>
</div>
</section>
</main>

<%= console %>
<% end %>
