<h1><%= @course.name %></h1>
<h5><%=@course.id %></h5>
<p><%= @course.description %></p>
<p>Cohort: <%= @course.year %>/<%= @course.month %>
<p><%= @course.active %></p>

<%= link_to "Edit", edit_course_path, class: "btn btn-primary col-sm-2" %>

<%# list all the students in the course.%>
<h2>There are <%= pluralize(@enrollments.length, 'Students')%></h2>

<ul>
<%= render partial: "courses/student", locals: {enrollments: @enrollments} %>
</ul>

<h2>There are <%= pluralize(@excursions.length, 'Excursions')%></h2>
<%= link_to "New Excursion", new_excursion_path(course_id: params[:id]), class: "btn btn-primary"%>
<ul>
<%= render partial: "courses/excursion", locals: {excursions: @excursions} %>
</ul>
<%= console %>
